# SQL

In [3]:
# Importar biblioteca pyodbc:

import pyodbc

In [4]:
# Importar a biblioteca Pandas:

import pandas as pd

In [6]:
# Classe para conexão com o banco de dados:

class ConexaoBD ():

    def conectar (self):
        return pyodbc.connect(driver='{SQL Server}', server='localhost', pwd='Un4Docker', uid='sa', database='empresa')

In [9]:
# Instanciar um objeto da classe para conexão com o banco de dados:

bd = ConexaoBD ()

# Pegar uma conexão com o banco de dados:

conexao = bd.conectar ()

In [16]:
# Classe Categoria:

class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
        
    def inserir (self):
        dml = ''' insert into Categoria (nome, descricao) values
            ('Telefonia', 'Aparelho telefônico'),
            ('Informática', 'Computador portátil'),
            ('Roupa', 'Vestuário'),
            ('Calçado', 'Vestuário');
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Categoria:

categoria = Categoria (conexao)

# Inserir um registro no banco de dados:

categoria.inserir ()

In [51]:
# Classe Vendedor:

class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = ''' insert into Vendedor (cpf, nome, email, telefone, endereco) values
            ('111.111.111-11', 'Ana', 'ana@ana.com.br', '(11) 1 1111-1111', 'Rua n.1, n. 1, Bairro 1, Cidade 1, MG'),
            ('222.222.222-22', 'Bruno', 'bruno@bruno.com.br', '(22) 2 2222-2222', 'Rua n.2, n. 2, Bairro 2, Cidade 2, MG'),
            ('333.333.333-33', 'Carla', 'carla@carla.com.br', '(33) 3 3333-3333', 'Rua n.3, n. 3, Bairro 3, Cidade 3, MG'),
            ('444.444.444-44', 'Diego', 'diego@diego.com.br', '(44) 4 4444-4444', 'Rua n.4, n. 4, Bairro 4, Cidade 4, MG'),
            ('555.555.555-55', 'Elis', 'elis@elis.com.br', '(55) 5 5555-5555', 'Rua n.5, n. 5, Bairro 5, Cidade 5, MG'),
            ('666.666.666-66', 'Fábio', 'fabio@fabio.com.br', '(66) 6 6666-6666', 'Rua n.6, n. 6, Bairro 6, Cidade 6, MG'),
            ('777.777.777-77', 'Gisele', 'gisele@gisele.com.br', '(77) 7 7777-7777', 'Rua n.7, n. 7, Bairro 7, Cidade 7, MG'),
            ('888.888.888-88', 'Heitor', 'heitor@heitor.com.br', '(88) 8 8888-8888', 'Rua n.8, n. 8, Bairro 8, Cidade 8, MG'),
            ('999.999.999-99', 'Iris', 'iris@iris.com.br', '(99) 9 9999-9999', 'Rua n.9, n. 9, Bairro 9, Cidade 9, MG');
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail'
            from Vendedor v
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (sql)
            for linha in cursor:
                print (linha)

    def buscarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail'
            from Vendedor v
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def pesquisarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor,
            p.nome as Produto, p.marca as Marca,
            c.nome as Categoria,
            vp.quantidade as Qtde, vp.preco as Preço
            from Vendedor v, VendedorProduto vp, Produto p, Categoria c
            where v.cpf = vp.cpf_vendedor and
            vp.id = p.id and
            p.id_categoria = c.id;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarLike (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where v.nome like '%rl%';
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarBetween (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, p.nome as Produto, vp.preco as Preço
            from Vendedor v, VendedorProduto vp, Produto p
            where v.cpf = vp.cpf_vendedor and
            vp.id_produto = p.id and
            vp.preco between 80 and 200;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarIn (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where v.cpf in (select vp.cpf_vendedor
            from VendedorProduto vp);
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarExists (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where exists (select vp.cpf_vendedor
            from VendedorProduto vp
            where v.cpf = vp.cpf_vendedor);
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarNotIn (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where v.cpf not in (select vp.cpf_vendedor
            from VendedorProduto vp);
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarNotExists (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where not exists (select vp.cpf_vendedor
            from VendedorProduto vp
            where v.cpf = vp.cpf_vendedor);
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarInnerJoin (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
            from Vendedor v
            inner join VendedorProduto vp on v.cpf = vp.cpf_vendedor
            inner join Produto p on vp.id_produto = p.id
            inner join Categoria c on p.id_categoria = c.id
            order by v.cpf;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarLeftJoin (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
            from Vendedor v
            left join VendedorProduto vp on v.cpf = vp.cpf_vendedor
            left join Produto p on vp.id_produto = p.id
            left join Categoria c on p.id_categoria = c.id
            order by v.cpf;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarRightJoin (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
            from Vendedor v
            right join VendedorProduto vp on v.cpf = vp.cpf_vendedor
            right join Produto p on vp.id_produto = p.id
            right join Categoria c on p.id_categoria = c.id
            order by v.cpf;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarFullJoin (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
            from Vendedor v
            full join VendedorProduto vp on v.cpf = vp.cpf_vendedor
            full join Produto p on vp.id_produto = p.id
            full join Categoria c on p.id_categoria = c.id
            order by v.cpf;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarCrossJoin (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria
            from Produto p
            cross join Categoria c
            order by p.nome, c.nome;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:

vendedor = Vendedor (conexao)

# Ler os registros do banco de dados:

# vendedor.buscar ()

# vendedor.buscarPandas ()

# vendedor.pesquisarPandas ()

# vendedor.buscarLike ()

# vendedor.buscarBetween ()

# vendedor.buscarIn ()

# vendedor.buscarExists ()

# vendedor.buscarNotIn ()

# vendedor.buscarNotExists ()

# vendedor.buscarInnerJoin ()

# vendedor.buscarLeftJoin ()

# vendedor.buscarRightJoin ()

# vendedor.buscarFullJoin ()

vendedor.buscarCrossJoin ()

# Inserir um registro no banco de dados:

# vendedor.inserir ()

Produto    Categoria
0      Calça      Calçado
1      Calça      Calçado
2      Calça      Calçado
3      Calça  Informática
4      Calça  Informática
5      Calça  Informática
6      Calça        Roupa
7      Calça        Roupa
8      Calça        Roupa
9      Calça    Telefonia
10     Calça    Telefonia
11     Calça    Telefonia
12    Camisa      Calçado
13    Camisa      Calçado
14    Camisa      Calçado
15    Camisa  Informática
16    Camisa  Informática
17    Camisa  Informática
18    Camisa        Roupa
19    Camisa        Roupa
20    Camisa        Roupa
21    Camisa    Telefonia
22    Camisa    Telefonia
23    Camisa    Telefonia
24   Celular      Calçado
25   Celular      Calçado
26   Celular      Calçado
27   Celular  Informática
28   Celular  Informática
29   Celular  Informática
30   Celular        Roupa
31   Celular        Roupa
32   Celular        Roupa
33   Celular    Telefonia
34   Celular    Telefonia
35   Celular    Telefonia
36  Notebook      Calçado
37  Notebook      Calçado
38  Notebook      Calçado
39  Notebook  Informática
40  Notebook  Informática
41  Notebook  Informática
42  Notebook        Roupa
43  Notebook        Roupa
44  Notebook        Roupa
45  Notebook    Telefonia
46  Notebook    Telefonia
47  Notebook    Telefonia
48     Tênis      Calçado
49     Tênis      Calçado
50     Tênis      Calçado
51     Tênis  Informática
52     Tênis  Informática
53     Tênis  Informática
54     Tênis        Roupa
55     Tênis        Roupa
56     Tênis        Roupa
57     Tênis    Telefonia
58     Tênis    Telefonia
59     Tênis    Telefonia
<class 'pandas.core.frame.DataFrame'>

In [45]:
# Classe Produto:

class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = ''' insert into Produto (nome, descricao, marca, id_categoria) values
            ('Celular', 'Celular 1', 'Apple', 1),
            ('Celular', 'Celular 2', 'Samsung', 1),
            ('Celular', 'Celular 3', 'Xiaomi', 1),
            ('Notebook', 'Notebook 1', 'Apple', 2),
            ('Notebook', 'Notebook 2', 'Samsung', 2),
            ('Notebook', 'Notebook 3', 'Xiaomi', 2),
            ('Camisa', 'Camisa 1', 'Nike', 3),
            ('Calça', 'Calça 1', 'Nike', 3),
            ('Tênis', 'Tênis 1', 'Nike', 4),
            ('Camisa', 'Camisa 2', 'Adidas', 3),
            ('Calça', 'Calça 2', 'Adidas', 3),
            ('Tênis', 'Tênis 2', 'Adidas', 4),
            ('Camisa', 'Camisa 3', 'Zara', 3),
            ('Calça', 'Calça 3', 'Zara', 3),
            ('Tênis', 'Tênis 3', 'Zara', 4);
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

    def buscar (self):
        sql = ''' select distinct p.nome as Produto
            from Produto p
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarGroup(self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
            from Produto p, Categoria c, VendedorProduto vp
            where vp.id_produto = p.id and
            p.id_categoria = c.id
            group by p.nome, c.nome, vp.quantidade, vp.preco
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarHaving (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
            from Produto p, Categoria c, VendedorProduto vp
            where vp.id_produto = p.id and
            p.id_categoria = c.id
            group by p.nome, c.nome, vp.quantidade, vp.preco
            having vp.preco > 500
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarOrderBy (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
            from Produto p, Categoria c, VendedorProduto vp
            where vp.id_produto = p.id and
            p.id_categoria = c.id
            group by p.nome, c.nome, vp.quantidade, vp.preco
            having vp.preco > 500
            order by c.nome asc, vp.preco desc
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))


# Instanciar objeto da classe Vendedor:

produto = Produto (conexao)

# Inserir um registro no banco de dados:

# produto.inserir ()

# Inserir um registro no banco de dados:

# produto.buscar ()

# produto.buscarGroup ()

# produto.buscarHaving ()

produto.buscarOrderBy ()

Produto    Categoria  Qtde   Preço
0  Notebook  Informática     3  5000.0
1  Notebook  Informática     5  4000.0
2  Notebook  Informática     6  3000.0
3   Celular    Telefonia     1  5000.0
4   Celular    Telefonia     2  4000.0
5   Celular    Telefonia     3  3000.0
6   Celular    Telefonia     4  1000.0
<class 'pandas.core.frame.DataFrame'>

In [42]:
# Classe VendedorProduto:

class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = ''' insert into VendedorProduto (cpf_vendedor, id_produto, quantidade, preco) values
            ('111.111.111-11', 1, 2, 4000),
            ('111.111.111-11', 2, 3, 3000),
            ('111.111.111-11', 3, 4, 1000),
            ('111.111.111-11', 12, 2, 110),
            ('222.222.222-22', 4, 3, 5000),
            ('222.222.222-22', 5, 5, 4000),
            ('222.222.222-22', 6, 6, 3000),
            ('333.333.333-33', 7, 10, 50),
            ('333.333.333-33', 14, 2, 88),
            ('555.555.555-55', 7, 10, 45),
            ('666.666.666-66', 9, 3, 120),
            ('666.666.666-66', 14, 8, 78),
            ('888.888.888-88', 10, 0, 40),
            ('999.999.999-99', 11, 0, 87),
            ('999.999.999-99', 1, 1, 5000);
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

    def buscarMax (self):
        sql = ''' select max (preco) as 'Preço Máximo'
            from VendedorProduto
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
        
    def buscarMin (self):
        sql = ''' select min (preco) as 'Preço Mínimo'
            from VendedorProduto
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarAVG (self):
        sql = ''' select avg (preco) as 'Preço Médio'
            from VendedorProduto
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarSoma (self):
        sql = ''' select sum (preco) as 'Soma'
            from VendedorProduto
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscarCount (self):
        sql = ''' select count (id) as 'Contagem'
            from VendedorProduto
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))


# Instanciar objeto da classe Vendedor:

vendedor_produto = VendedorProduto (conexao)

# Inserir um registro no banco de dados:

# vendedor_produto.inserir ()

# Pesquisar:

# vendedor_produto.buscarMax ()

# vendedor_produto.buscarMin ()

# vendedor_produto.buscarAVG ()

# vendedor_produto.buscarSoma ()

vendedor_produto.buscarCount ()

Contagem
0        15
<class 'pandas.core.frame.DataFrame'>

# Exercícios

Quais vendedores possuem o nome terminado com a letra “s”? **Resp.: Elis e Iris.**

In [56]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where v.nome like '%s';
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

vendedor = Vendedor (conexao)

vendedor.buscar ()

CPF Vendedor
0  555.555.555-55     Elis
1  999.999.999-99     Iris
<class 'pandas.core.frame.DataFrame'>

Quais vendedores possuem produtos com valor entre \$10 e \$50 ou entre \$100 e \$500? **Resp.: Heitor, Elis, Carla, Ana e Fábio.**

In [72]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v, VendedorProduto vp
            where v.cpf = vp.cpf_vendedor and
            vp.preco between 10 and 500 and
            vp.quantidade > 0
            group by v.cpf, v.nome;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

vendedor = Vendedor (conexao)

vendedor.buscar ()

CPF Vendedor
0  111.111.111-11      Ana
1  333.333.333-33    Carla
2  555.555.555-55     Elis
3  666.666.666-66    Fábio
<class 'pandas.core.frame.DataFrame'>

Se Ana vender todos os seu produtos, quanto ela receberá? **Resp.: $21.220**.

In [71]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select sum (vp.preco * vp.quantidade) as 'Vendas'
            from Vendedor v, VendedorProduto vp
            where v.cpf = vp.cpf_vendedor and
            v.cpf = '111.111.111-11'
            group by v.cpf, v.nome,;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

vendedor = Vendedor (conexao)

vendedor.buscar ()

Vendas
0  21220.0
<class 'pandas.core.frame.DataFrame'>

Se todos os vendedores venderem todos os seu produtos, qual será o total apurado nas vendas? **Resp.: $81.330.**

In [73]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select sum (preco * quantidade) as 'Vendas' from VendedorProduto'''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

vendedor = Vendedor (conexao)

vendedor.buscar ()

Vendas
0  81330.0
<class 'pandas.core.frame.DataFrame'>

Se todos os vendedores venderem todos os seu produtos, quem receberá o maior valor? **Resp.: Bruno, $53.000.**

In [26]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        # sql = '''select cpf, (select max(vendas) from (VALUES (sm.vendas)) as max 
        #     from (select cpf_vendedor as cpf, sum (preco * quantidade) as 'vendas'
        #     from VendedorProduto
        #     group by cpf_vendedor) as sm
        #     '''
        sql = '''select top 1 v.nome, sm.vendas from (select cpf_vendedor, sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm inner join Vendedor v on v.cpf = sm.cpf_vendedor order by sm.vendas desc
              
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

vendedor = Vendedor (conexao)

vendedor.buscar ()

nome   vendas
0  Bruno  53000.0
<class 'pandas.core.frame.DataFrame'>

Se todos os vendedores venderem todos os seu produtos, qual será o valor médio das vendas? **Resp.: $11.618,57.**

In [29]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        # sql = '''select cpf, (select max(vendas) from (VALUES (sm.vendas)) as max 
        #     from (select cpf_vendedor as cpf, sum (preco * quantidade) as 'vendas'
        #     from VendedorProduto
        #     group by cpf_vendedor) as sm
        #     '''
        sql = '''select cast(avg(vendas) as decimal(10, 2)) from (select sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm
              
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

vendedor = Vendedor (conexao)

vendedor.buscar ()

0  11618.57
<class 'pandas.core.frame.DataFrame'>

Se todos os vendedores venderem todos os seu produtos, quem receberá acima da média? Resp.: **Bruno (\$53.000) e Ana (\$21.220).**

In [49]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        # sql = '''select cpf, (select max(vendas) from (VALUES (sm.vendas)) as max 
        #     from (select cpf_vendedor as cpf, sum (preco * quantidade) as 'vendas'
        #     from VendedorProduto
        #     group by cpf_vendedor) as sm
        #     '''
        sql = '''select v.nome, sm.vendas from  (select cpf_vendedor, sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm inner join Vendedor v on v.cpf = sm.cpf_vendedor where sm.vendas > (select avg(sm1.vendas) from (select sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm1) 
              
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

vendedor = Vendedor (conexao)

vendedor.buscar ()

nome   vendas
0    Ana  21220.0
1  Bruno  53000.0
<class 'pandas.core.frame.DataFrame'>